.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color:#7481aa;
  height: 60px;
  padding: 5px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-link {
  color: #61dafb;
}

.navbar {
 
  margin-top: auto;
  
}
#top-filler {
  margin-bottom: auto;
}

#nav-container {
  align-items: flex-end;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.recipe {
    border-style: solid;
    margin: auto;
    width: 60%;
    border-color: #adcfe0;
    background-color: #adcfe0;
    border-radius: 10px;  
    margin-bottom: 19px;
    padding: 10px;
}

.name {
  padding:5px;
}
.Name {
  margin:10px;
}

.by{
  padding:45px;
}
.By {
  margin:10px;
}
.quantity{
  padding:8px;
}
.Quantity {
  margin:10px;
}
.ingredient{
  padding: 5px;
}
.Ingredients{
  margin: 10px;
}
.instruction{
  padding: 5px;
}
.Instructions {
  margin:10px;
}
.description {
  white-space: pre-wrap;
}  

.lol{
  text-align: left;
  margin:auto;
  width: 80%;
  overflow:hidden;
}

.footer {
    
    left: 0;
    bottom: 20px;
    width: 100%;
    height: 50px;
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
    font-family: Verdana, Geneva, sans-serif;
    color: gray;
}